.products .ListItem {
    border: 3px solid #c3c3c3;
    overflow: hidden;
    margin-bottom: 10px;
}

.nextPage{
    width: 100%;
    text-align: right;
}

.nextPage button{
    border-radius: 15px;
    padding: 12px;
    background: #252525;
    color: #fff;
    font-size: 18px;
}
